<h1>Garden Name: <%= @garden.name %></h1>

<h3>Plants in the Garden</h3>
<% @garden.plants_within_100_sorted.each_with_index do |plant, index| %>
  <div id="plant-<%=index%>">
    <%= plant.name %><br>
  </div>
<% end %>